---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const base = import.meta.env.BASE_URL || '';

const allGoods = await getCollection('goods');
const sortedGoods = allGoods.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout title="All Goods">
  <div class="index-content">
    <h1>The Goods Archive</h1>
    <p>Links, software, and other goods</p>
    <hr />
    
    <ul>
      {sortedGoods.map((good) => (
        <li>
          <a href={`${base}/goods/${good.id}`}>{good.data.title}</a>
          <br />
          <span>{good.data.description}</span>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
